.HomeScreen{
    background-color: var(--tertiary-color);
    display: grid;
    border-radius: 20px;
    height: 97dvh;
    width: 98.2dvw;
    border-color: var(--secondary-color);
    border-width: 10px;
    border-style: solid;
    
}
.Search{
    align-self:center;
    position: absolute;
    right: -18%;
    width: 100%;
    place-items: center;
}
.SearchBox{
    border-radius: 10px 0 0 10px;
    height: 3%;
    width: 50%;
    border-color: var(--secondary-color);
    outline-color: var(--secondary-color);
    position: relative;
    border-width: 4px;
}
.SearchButton{
    background-color: var(--primary-color);
    color: white;
    border-color: var(--secondary-color);
    border-radius: 0 10px 10px 0;
    height: 3.7%;
    width: 10%;
    border-width: 3px;
    position: relative;
}
.content{
  place-content: center;
}
.logo {
  height: 150px;
  border-radius: 10px;
  transform: translateY(200%);
  justify-self: center;

}
.RAGButton{
    background-color: var(--primary-color);
    color: white;
    border-color: var(--secondary-color);
    border-width: 3px;
    width: 150px;
    height: 50px;
    border-radius: 50px;
    justify-self: center;
}