.Results{
    height: 100%;
    display: block;
    margin-bottom: 10px;
    justify-self: center;
    width: 75%;
    background-color: var(--tertiary-color);
    border-left: 5px solid var(--secondary-color);
    border-right: 5px solid var(--secondary-color);
}